<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>
  <appSettings>
    <!-- IOS_DEVICE, IOS_SIMULATOR, ANDROID_DEVICE, ANDROID_SIMULATOR -->
    <add key="localtestrun.platform" value="IOS_DEVICE"/>

    <add key="ios.assemblyname" value="BDDMobile.iOS"/>
    <add key="ios.apppath" value="BDDMobile\BDDMobile.iOS"/>

    <add key="ios.deviceip" value="192.168.7.189"/>
    <add key="ios.bundlename" value="com.tippstr.consumer"/>

    <add key="android.projectname" value="BDDMobile.Droid"/>
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Xamariners.Core.Mobile.UI.Test" />
    </stepAssemblies>
  </specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
